#app-header {
	background: var(--primary);
}

#app-header .logo {
  padding: var(--base-padding);
  color: white;
}

#app-header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-btn {
  font-size: 20px;
  color: white;
  padding: 30px;
  background: none;
  border: none;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

#settings-btn:hover {
  background-color: rgba(0,0,0,0.3);
}

#settings-btn.active {
  color: var(--tertiary);
  background-color: rgba(0,0,0,0.4);
}

.logo {
  margin: 0;
  font-size: 32px;
}
