.data-group {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #004472;
}

.data-group:last-of-type {
    margin-bottom: 0;
}

.data-group canvas {
    max-width: 100%;
    height: clamp(200px, 12vw, 400px);
}

.data-group .data-title {
    margin-top: 0;
    margin-bottom: -20px;
}

.data-group .data-title i {
    margin-right: 10px;
}

